{%
   set comments = content.comments;
   set comment_form = content.comment_form;
%}
<section class="comments {{ attributes.class }}"{{ attributes }}>
  {{ title_prefix) }}
  {% if comments and node.type != 'forum' %}
    <h2 class="title">{{ 'Comments'|t }}</h2>
  {% endif %}
  {{ title_suffix) }}

  {{ comments }}

  {% if comment_form %}
    <h2 class="title comment-form">{{ 'Add new comment'|t }}</h2>
    {{ comment_form }}
  {% endif %}
</section>
